body{
  background-image: url('../GOTBackground.jpg');
  background-size:auto;
}

h1, h2{
  color: white;
  font-family: 'gameOfThrones';
  src:url('../gameOfThrones.ttf');
  text-shadow: 2px 2px black;
}

p, label{
  font-family: 'Cinzel', serif;
  color: white;
  text-shadow: 2px 2px black;
}

#main-content-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
}

#house-list-view-wrapper{
  width: 60%;
}
